body {
    margin: 1em;
}

#fork {
    position: absolute;
    top: -5px;
    right: 15px;
}

#controls {
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	margin: 15px;
}

#controls * {
	margin: 5px;
	display:inline-block;
	
}

#tempoBox input {
    height: 20px;
    width: 200px;
}

#list {
    list-style-type: none;
}

.play, .add, .play2, .remove {
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	color:#ffffff;
	text-decoration:none;
	text-shadow:1px 1px 6px #000000;
	text-align: center;
}

.play, .play2 {
	background-color:#79bbff;
}

.play {
	padding: 8px 24px;
}

.play2 {
	padding: 2px 12px;
    margin-right: 1em;
}

.add {
	padding: 2px 12px;
    background-color: #3c3;
}

.remove {
	padding: 2px 12px;
    margin-left: 1em;
    background-color: #f99;
}

.play:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	background-color:#378de5;
}

.play:active {
	position:relative;
	top:1px; left: 1px;
}

.num-elem {
    width: 50px;
}

#showTempo { 
	display: inline-block;
	width: 45px; 
}
