body {
    margin: 1em;
}

#doc-links {
    float: right;
}

#controls {
    font-family:arial;
    font-size:24px;
    font-weight:bold;
    margin: 15px;
}

#controls * {
    margin: 5px;
    display:inline-block;
}

#tempoBox input {
    height: 20px;
    width: 200px;
}

#resoSrc {
    margin: 0.5em;
}

#list {
    list-style-type: none;
}

#popup {
    position: fixed;
    margin: auto;
    width: 80%;
    left: 10%;
    height: 80%;
    top: 10%;
    background-color: #eee;
    border: solid 2px;
}

#popup button {
    width: 100%;
}

#popup-docs {
    text-align: center;
}

.play, .add, .play2, .remove {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    color:#ffffff;
    text-decoration:none;
    text-shadow:1px 1px 6px #000000;
    text-align: center;
    cursor: pointer;
}

.play, .play2 {
    background-color:#79bbff;
}

.play {
    padding: 8px 24px;
}

.play2 {
    padding: 2px 12px;
    margin-right: 1em;
}

.add {
    padding: 2px 12px;
    background-color: #3c3;
}

.remove {
    padding: 2px 12px;
    margin-left: 1em;
    background-color: #f99;
}

.play:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    background-color:#378de5;
}

.play:active {
    position:relative;
    top:1px; left: 1px;
}

.num-elem {
    text-align: right;
    width: 40px;
}

#showTempo { 
    display: inline-block;
    width: 45px;
}

#filter {
    margin-bottom: 1em;
}

code {
    font-size: 140%;
}
